<div class="card card-body mb-2">
    <h1>{{exam.title}}</h1>
    <p>{{exam.details}}</p>
    {{#each exam.questions}}
        <h3>{{header}}</h3>

        <H6 class="text-success"> Correct </H6>
        {{#each correct}}
            <input type="text" class="form-control is-valid mb-1" value="{{this}}" disabled>
        {{/each}}
        <H6 class="text-danger"> Incorrect </H6>
        {{#each incorrect}}
            <input type="text" class="form-control is-invalid mb-1" value="{{this}}" disabled>
        {{/each}}
    {{/each}}
</div>