<div class="card card-body mb-2">
    <h6 class="text-muted">Exam</h6>

    <h2>{{exam.job.title}}</h2>

    <p class="mb-0">
        <span class="badge  badge-primary"> <i class="fas fa-clock"></i> Duration: {{exam.duration}} Minute</span>
    </p>
    <p class="mb-0">
        <span class="badge  badge-danger"> <i class="fas fa-calendar"></i> Deadline: {{dateFormat exam.deadline "dddd, MMM Do YYYY, h:mm:ss a"}}</span>
    </p>
    <p class="mb-0">
        <span class="badge  badge-warning  "> Number of Exams: {{exam.selectedExams.length}} </span>
    </p>

    <p>
        <span class="badge  badge-info  "> Number of Total Questions: {{exam.noOfTotalQuestions}} </span>
    </p>

    <form action="/exam/{{exam._id}}/start">
    <button type="submit" class="btn btn-success btn-block">View</button>
    </form>

    <p class="card-subtitle mb-2 mt-0 text-muted ml-1"> <small>* You can start your exam anytime before the deadline. Once Started you have only {{exam.duration}} minutes to finish it. </small> </p>
</div>