
  <div class="card card-body mb-2">
    <h3>{{job.title}}</h3>
      <p>{{job.details}}</p>

      <hr/>

      <form action="/job/apply/" method="post" enctype="multipart/form-data" >

          <input type="text" class="form-control" name="id" value="{{job._id}}" hidden >


          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" value="{{user.name}}" disabled>
          </div>

          <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" name="username" value="{{user.username}}" disabled>
          </div>

          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" value="{{user.email}}" disabled>
          </div>

          <div class="form-group">
              <label for="email">Upload CV</label>
              <input type="file" name="cv" class="form-control" id="fileToUpload">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>

  </div>