{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
    <br/>
    <h6 class="card-subtitle mb-2 text-muted">Job</h6>
    <h1 class="card-subtitle mb-2">{{job.title}}</h1>
    <h5 class="card-subtitle mb-2 text-muted">{{job.applicants.length}} Applicants </h5>
    <br/>
    <div class="contatiner-fluid mb-3 p-2">
        <div class="row">
        {{#each job.applicants}}
            <div class="col-lg-4 p-2 pt-1 ">
                <div class="card card-body mb-2  h-100 border border-primary">
                    <h5 class="card-title">{{user.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
                    {{#unless exam}}
                        <a href="/job/applicants/{{../job._id}}/sendexam/{{user._id}}" class="card-link mb-0">Create Exam</a>
                    {{/unless}}
                    {{#if (equals exam.status "sent")}}
                        <a class="badge-pill badge-primary"><span class="text-white mb-0">Exam Sent To User</span></a>
                    {{/if}}
                    {{#if (equals exam.status "done")}}
                        <a class="badge-pill badge-success"><span class="text-white mb-0">Exam Done</span></a>
                        <a href="/exam/{{exam._id}}/result" class="card-link mb-0">View Result</a>
                    {{/if}}
                    <a href="/{{cv.path}}" class="card-link ml-0 mb-0">Download CV</a>
                    <br/>
                    <form action="/job/applicants/{{../job._id}}/reject" method="post" >
                        <input type="hidden" name="applicant_id" value="{{_id}}">
                        {{#if (equals status "exam_done")}}
                            <input type="submit" class="btn btn-success mb-1" value="Accept">
                        {{/if}}
                        <input type="submit" class="btn btn-danger mb-1" value="Reject">
                    </form>
                </div>
            </div>

        {{/each}}
        </div>
    </div>
</div>