<div class="card card-body">
    <h3 class="test-muted">Posted Jobs</h3>
    <div class="contatiner-fluid mb-3 p-2">
        <div class="row">
            {{#each jobs}}
            <div class="col-lg-4 p-2 pt-1 ">
                <div class="card card-body mb-2  h-100 border border-primary">
                    <h4><a href="/job/view/{{id}}">{{title}}</a></h4>
                    <p>{{details}}</p>

                    <h5>{{applicants.length}} Applicants </h5>
                    <p class="mb-0"> Employer: {{employer.name}}
                    <p> Email: <span class="text-secondary"> {{employer.email}} </span></p>
                    <a href="/job/apply/{{_id}}" class="btn btn-success btn-lg">Apply</a>
                </div>
            </div>
            {{else}}
                <p>No jobs posted</p>

            {{/each}}
        </div>
    </div>
</div>
