{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
  <h3>Edit Job Idea</h3>
  <form action="/job/{{job.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="{{job.title}}" data-validation="length" data-validation-length="min6" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details"  data-validation="length" data-validation-length="min6" required>{{job.details}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>