<div class="card bg-light col-lg-12 mb-2">
    <div class="card-body">
    <h1 class="card-subtitle mb-2">Exam Templates</h1>
    <h5 class="card-subtitle mb-2 text-muted">{{examtemplates.length}} Exam Template </h5>

    <br/>
    <form action="" method="get">
        <label><i class="fas fa-search"></i> Filter By Type </label>
        <div class="md-form mt-0">
            <input class="form-control" value="{{filter}}" type="text" placeholder="filter by type" name="filter" aria-label="Search">
        </div>
    </form>
    <div class="contatiner-fluid mb-3 p-2">
    <div class="row">
    {{#each examtemplates}}
        <div class="col-lg-4 p-2 pt-1 ">
            <div class="card card-body mb-2  h-100 border border-primary">
                <h5 class="card-title"><a href="/examtemplate/view/{{_id}}">{{title}}</a></h5>
                <h6 class="card-subtitle mb-3 text-muted">{{details}}</h6>
                <h6 class="card-subtitle mb-2 text-muted"><span class="text-dark">Type:</span> {{type}}</h6>
                <h6 class="card-subtitle mb-2 text-muted"><span class="text-dark">Questions Bank: </span> {{questions.length}} question</h6>
                <a class="btn btn-primary btn-block mb-2" href="/examtemplate/{{_id}}/addquestion">Add Question</a>
            </div>
        </div>

    {{else}}
        <h2>No Exam Templates.</h2>
    {{/each}}
    </div>
    </div>
</div>
</div>